/* 


	|Buttons

*/

a.button, button, input[type="submit"], input[type="reset"], input[type="button"]{
  display:inline-block;
  /*float:left;*/
  margin:0 0 0 0;
  background-color:#f5f5f5;
  border:1px solid #ddd;
  border-top:1px solid #eee;
  /*border-left:1px solid #eee; */
  font-family: 'Open Sans', sans-serif;
  font-size:0.75em;
  text-decoration:none;
  font-weight:bold;
  color:#565656;
  cursor:pointer;
  padding:0.225em 10px; /* Links */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  text-align: center;
}

a.button:last-child, button:last-child, input[type="submit"]:last-child, input[type="reset"]:last-child, input[type="button"]:last-child{
  margin-right: 0;
}

button{
  width:auto;
  overflow:visible;
  padding:0.25em 10px; /* IE6 */
}

button[type]{
  padding:0.25em 10px; /* Firefox */
  line-height:1.175; /* Safari */
}

*:first-child+html button[type]{
  padding:0.25em 10px; /* IE7 */
}

input[type="submit"], input[type="reset"], input[type="button"]{
  padding:0.125em 10px; /* Firefox */
  line-height:1.45; /* Safari */
}


/* 
  
  |Button Sizes
*/

a.button.medium, button.medium, input[type="submit"].medium, input[type="reset"].medium, input[type="button"].medium{
  font-size: 1em;
  padding:0.18em 8px; /* Links */
  margin-top: 0.9em;
  margin-bottom: 0.9em;
  margin-left: 0;
}

button.medium{
  padding:0.25em 10px; /* IE6 */
}

button[type].medium{
  padding:0.35em 10px; /* Firefox */
  line-height:1; /* Safari */
}

*:first-child+html button[type].medium{
  padding:0.25em 10px; /* IE7 */
}

input[type="submit"].medium, input[type="reset"].medium, input[type="button"].medium{
  padding:0.195em 10px; /* Firefox */
}

a.button:last-child, button:last-child, input[type="submit"]:last-child, input[type="reset"]:last-child, input[type="button"]:last-child{
  margin-right: 0;
}



/* 
  
  |Button Types
*/

button, a.button, input[type="submit"], input[type="reset"], input[type="button"]{
   
  color:#fff;
  border-color:#c00000;  
  background: -moz-linear-gradient(top, #d80000 0%, #c00000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d80000), color-stop(100%,#c00000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d80000 0%,#c00000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d80000 0%,#c00000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d80000 0%,#c00000 100%); /* IE10+ */
  background: linear-gradient(to bottom, #d80000 0%,#c00000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d80000', endColorstr='#c00000',GradientType=0 ); /* IE6-9 */
  box-shadow: 0 1px 2px #777;

}


/* 


  |Tabs

*/

ul.tabs{
  padding: 0.75em 0 0.55em;  
  border-bottom: solid 0.075em #ccc;
}

ul.tabs li{
  display: inline-block;
}

ul.tabs li a{
  font-weight: bold;
  padding: 0.7em 16px 0.7em;
  margin: 0 8px;
  color: #aaa;
  background: #f2f2f2;
  /*border-bottom: solid 0.1em #ccc;*/
  border-top: solid 0.075em #ccc;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

ul.tabs li a h4{
  display: inline;
  color: #555;
}

ul.tabs li:hover h4{
  color: #993333;
}

ul.tabs li:hover{

}

ul.tabs li.active a{
  background: #fff;
  border-color: #ccc;
  border-bottom: solid 0.05em #fff;
  color: #666;
  padding-bottom: 0.75em;
}

ul.tabs li.active h4{
  color: #993333;
}

.tab-content{
  
}